<!DOCTYPE html>
<html lang="en">

    <head>
        <title>عمارت کا سروے - ہوم</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">   
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/6.6.6/css/flag-icons.min.css">     
    </head>
    <body>
        <br>
        <div class="container text-center">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-sm-12">
                    <div class="card-head">
                        <h3>سروے</h3>
                    </div>
                    <div class="card border-0">
                        <form id="prop-form" method="post">{% csrf_token %}
                            <select class="form-control" id="look" name="look" onchange="renderOnType(this.value);" required>
                                <option value="" selected disabled>کیا تلاش کر رہے ہیں؟</option>
                                <option value="1">کرائے پر لینا</option>
                                <option value="2">خریدنا</option>
                            </select><br>

                            <input class="form-control" type="text" id="name" name="name" placeholder="اپنا نام درج کریں" required maxlength="50"><br>

                            <input class="form-control" type="text" id="phone" name="phone" maxlength="10" placeholder="اپنا فون نمبر درج کریں" required><br>

                            <textarea class="form-control" id="comments" name="comments" placeholder="تبصرے درج کریں" rows="3" required maxlength="500"></textarea><br>

                            <select class="form-control" id="typeof" name="typeof" onchange="showOtherProp(this.value)" required>
                                <option value="" selected disabled>پراپرٹی کی قسم منتخب کریں</option>
                                <option value="1">زمین</option>
                                <option value="2">اپارٹمنٹ</option>
                                <option value="3">گھر</option>
                                <option value="4">فلور</option>
                                <option value="5">اسٹوڈیو</option>
                                <option value="6">دکان</option>
                                <option value="x">دیگر</option>
                            </select><br>

                            <select class="form-control" id="size" name="size" style="display: none;">
                                <option value="" selected disabled>اپارٹمنٹ کا سائز منتخب کریں</option>
                                <option value="1">2 بیڈرومز</option>
                                <option value="2">2 بیڈرومز + 1 لیونگ روم</option>
                                <option value="3">3 بیڈرومز + 1 لیونگ روم</option>
                                <option value="4">اختیارات کے لیے کھلا</option>
                            </select><br id="sizebr" style="display: none;">

                            <input class="form-control" type="text" id="otherprop" name="otherprop" maxlength="20" placeholder="پراپرٹی کی قسم درج کریں" style="display:none;"><br id="otherpropbr" style="display:none;">

                            <input class="form-control" type="text" id="dist" name="dist" maxlength="40" placeholder="پسندیدہ ضلع درج کریں" required><br>

                            <select class="form-control" id="purpose" name="purpose" style="display: none;">
                                <option value="" selected disabled>کرائے کا مقصد منتخب کریں</option>
                                <option value="1">خاندانی</option>
                                <option value="2">بیچلر</option>
                            </select><br>

                            <button class="btn btn-primary" type="submit">
                                جمع کرائیں
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <script>
            function renderOnType(sel){
                if (sel == "1"){
                    document.getElementById('purpose').style = "";
                    document.getElementById('purpose').setAttribute("required","required");
                }
                else{
                    document.getElementById('purpose').style = "display:none;";
                    document.getElementById('purpose').removeAttribute("required");
                }
            }

            function showOtherProp(sel){
                if (sel == "x"){
                    document.getElementById("otherprop").style = "";
                    document.getElementById('otherprop').setAttribute("required","required");
                    document.getElementById("otherpropbr").style = "";
                }
                else{
                    document.getElementById("otherprop").style = "display:none;";
                    document.getElementById('otherprop').removeAttribute("required");
                    document.getElementById("otherpropbr").style = "display:none;";
                }
                if (sel == "2"){
                    document.getElementById("size").style = "";
                    document.getElementById('size').setAttribute("required","required");
                    document.getElementById("sizebr").style = "";
                }
                else{
                    document.getElementById("size").style = "display:none;";
                    document.getElementById('size').removeAttribute("required");
                    document.getElementById("sizebr").style = "display:none;";
                }
            }

        </script>

    </body>

</html>