<!DOCTYPE html>
<html lang="en">

    <head>
        <title>استبيان المباني - الصفحة الرئيسية</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">   
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/6.6.6/css/flag-icons.min.css">     
    </head>
    <body>
        <br>
        <div class="container text-center">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-sm-12">
                    <div class="card-head">
                        <h3>الاستبيان</h3>
                    </div>
                    <div class="card border-0">
                        <form id="prop-form" method="post">{% csrf_token %}
                            <select class="form-control" id="look" name="look" onchange="renderOnType(this.value);" required>
                                <option value="" selected disabled>ماذا تبحث؟</option>
                                <option value="1">استئجار</option>
                                <option value="2">شراء</option>
                            </select><br>

                            <input class="form-control" type="text" id="name" name="name" placeholder="أدخل اسمك" required maxlength="50"><br>

                            <input class="form-control" type="text" id="phone" name="phone" maxlength="10" placeholder="أدخل رقم هاتفك" required><br>

                            <textarea class="form-control" id="comments" name="comments" placeholder="أدخل التعليقات" rows="3" required maxlength="500"></textarea><br>

                            <select class="form-control" id="typeof" name="typeof" onchange="showOtherProp(this.value)" required>
                                <option value="" selected disabled>اختر نوع العقار</option>
                                <option value="1">أرض</option>
                                <option value="2">شقة</option>
                                <option value="3">منزل</option>
                                <option value="4">طابق</option>
                                <option value="5">استوديو</option>
                                <option value="6">متجر</option>
                                <option value="x">أخرى</option>
                            </select><br>

                            <select class="form-control" id="size" name="size" style="display: none;">
                                <option value="" selected disabled>اختر حجم الشقة</option>
                                <option value="1">2 غرف نوم</option>
                                <option value="2">2 غرف نوم + غرفة معيشة</option>
                                <option value="3">3 غرف نوم + غرفة معيشة</option>
                                <option value="4">مفتوح للاقتراحات</option>
                            </select><br id="sizebr" style="display: none;">

                            <input class="form-control" type="text" id="otherprop" name="otherprop" maxlength="20" placeholder="أدخل نوع العقار" style="display:none;"><br id="otherpropbr" style="display:none;">

                            <input class="form-control" type="text" id="dist" name="dist" maxlength="40" placeholder="أدخل المنطقة المفضلة" required><br>

                            <select class="form-control" id="purpose" name="purpose" style="display: none;">
                                <option value="" selected disabled>اختر غرض الاستئجار</option>
                                <option value="1">عائلة</option>
                                <option value="2">عزاب</option>
                            </select><br>

                            <button class="btn btn-primary" type="submit">
                                إرسال
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <script>
            function renderOnType(sel){
                if (sel == "1"){
                    document.getElementById('purpose').style = "";
                    document.getElementById('purpose').setAttribute("required","required");
                }
                else{
                    document.getElementById('purpose').style = "display:none;";
                    document.getElementById('purpose').removeAttribute("required");
                }
            }

            function showOtherProp(sel){
                if (sel == "x"){
                    document.getElementById("otherprop").style = "";
                    document.getElementById('otherprop').setAttribute("required","required");
                    document.getElementById("otherpropbr").style = "";
                }
                else{
                    document.getElementById("otherprop").style = "display:none;";
                    document.getElementById('otherprop').removeAttribute("required");
                    document.getElementById("otherpropbr").style = "display:none;";
                }
                if (sel == "2"){
                    document.getElementById("size").style = "";
                    document.getElementById('size').setAttribute("required","required");
                    document.getElementById("sizebr").style = "";
                }
                else{
                    document.getElementById("size").style = "display:none;";
                    document.getElementById('size').removeAttribute("required");
                    document.getElementById("sizebr").style = "display:none;";
                }
            }

        </script>

    </body>

</html>